h1{
    text-align: center;
    color: green;
    font-family: monospace;
    font-size: xx-large;
}
body{
    background-color: black;
}
.paragraph{
    color: green;
    font-family:monospace;
    font-size: large;
    text-align: center;

}
h2{
    text-align: center;
    color: green;
    font-family: monospace;
    font-size: xx-large;
}
.melvin{
    max-width:50%;
    max-height: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius:400px;
    border: 0.1cm solid ;
}
.socialmedia{
     color: green;
    background-color:black;
    border: 10px cm;
    border-color: green;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 30px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius:10px;
    display: block;
    font-family: monospace;
    margin-left: auto;
    margin-right: auto;
}
p3{
    margin-left: auto;
    margin-right:auto;
    margin-top: 10cm;
    margin-right: auto;
    background-color: black;
    color: green;
    border-radius: 10px;
    font-family:Consolas;
    border:3px solid;
    border-color: green;
}
div{
    text-align: center;
}
.quandledingle{
    max-height: 50%;
    max-width:50%;
    border:4px solid;
    border-radius:10px;
}